@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff4747;
  --primary-hover: #ff3333;
  --success-color: #40a944;
  --success-hover: #389b3c;
}

body {
  background-color: #f5f5f5;
}

.btn-primary {
  @apply bg-[#ff4747] text-white px-4 py-2 rounded-full hover:bg-[#ff3333] transition-colors;
}

.btn-success {
  @apply bg-[#40a944] text-white px-4 py-2 rounded-full hover:bg-[#389b3c] transition-colors;
}

.input-primary {
  @apply w-full pl-10 pr-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#ff4747];
}